body{
	margin: 30px;
	font-family: arial;
}
.main-container{
	border: solid black;
	width: 100%;
	height: 650px;
	position: relative;

}
.banner-container{
	width: 96%;
	height: 440px;
	margin-top: 30px;
	background-color: pink;
	margin:auto;
	overflow: hidden;
}
.banner-container img{
	width: 100%;
	height: 440px;
}
.email-container{
	text-align: center;
	margin-top: 30px;
}
.logo-container{
	text-align: right;
	margin-right: 30px 
}
.logo{
	width: 30px;
	height: 30px;
	background-color: blue;
	display: inline-block;
}
.derechos-container{
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

img{
	width: auto;
	height: 440px;
}
div .logo img{
	height: 30px;
	width: 30px;
}
/*@media only screen and (max-width: 1480px){
	.banner-container img{
		width: 100%;
	}
}*/
